.md-header {
    box-shadow: none;
}

.md-typeset h1 {
    font-weight: 700;
}

.md-typeset h2 {
    border-bottom: 1px solid #30363d;
    padding-bottom: .3rem;
}

.md-typeset table {
    width: 100%;
}

.md-grid {
    max-width: 1400px;
}